[submodule "3rdparty/SDL_FontCache"]
	path = 3rdparty/SDL_FontCache
	url = https://github.com/grimfang4/SDL_FontCache.git
[submodule "3rdparty/NaturalSort"]
	path = 3rdparty/NaturalSort
	url = https://github.com/scopeInfinity/NaturalSort.git
[submodule "3rdparty/s3tc-dxt-decompression"]
	path = 3rdparty/s3tc-dxt-decompression
	url = https://github.com/Benjamin-Dobell/s3tc-dxt-decompression.git
