[submodule "3rdparty/SDL_FontCache"]
	path = 3rdparty/SDL_FontCache
	url = https://github.com/grimfang4/SDL_FontCache.git
[submodule "3rdparty/NaturalSort"]
	path = 3rdparty/NaturalSort
	url = https://github.com/scopeInfinity/NaturalSort.git
